* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;

}

header,
footer {
  margin: 0;
  padding: 0;
  background-color: dodgerblue;
  color: white;
  text-align: center;
  overflow: hidden;
}
/*header*/
.menu-btn {
    padding: 10px;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 35px;
}
.menu-btn:hover {
    color: #616061;
}
nav a {
    display: none;
}
nav a:hover {
    text-decoration: none;
    color: #616061;
}
#cool {
    font-size: 70px;
    padding: 15px;
    text-align: center;
}
/*main*/
body {
    background-color: lightgray;
}
main {
    display: grid;
    grid-template-columns: 1fr;

    margin: 0 auto;
    text-align: center;
}
#header_work {
    grid-column: 1 / -1;
    place-content: center;
    font-size: 40px;
}
img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border: 5px solid white;
  box-shadow: 4px 4px 10px 0 rgb(0, 0, 0); 

}
div {
    padding: 10px;
}
/*footer*/
footer {
    padding: 15px;
}

@media screen and (min-width: 700px) {
    main {
        grid-template-columns: 1fr 1fr;

    }
}

@media screen and (min-width: 1000px) {
    main {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .menu-btn {
        display: none;
    }
    nav a {
        display: inline-block;
        color: white;
        font-size: 30px;
        padding-left: 40px;
        margin-bottom: 20px;
    }
    main {
        max-width: 1100px;
    }
}