@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Piedra&display=swap');
  /* change the values below to your colors from your palette
  --primary-color: #142FBC;
  --secondary-color: #FFFFFF;
  --accent1-color: #EBCC6F;
  --accent2-color: #58DBCA;

 change the values below to your chosen font(s) 
  --heading-font: "Piedra", Arial, Helvetica, sans-serif;
  --paragraph-font: "Lato", Helvetica, sans-serif;
 */

 h1, h2, h3 {
  font-family: "Piedra", Arial, Helvetica, sans-serif;
 }
 /*Header*/ 
 header {
  background-color: #58DBCA;
 }
#top-header {
  display: flex;
  flex: 0 4 auto;
}
.logo {
  width: 200px;
  border-radius: 70%;
  padding: 10px;
}
h1 {
  display: flex;
  color: #142FBC;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: clamp(2rem, 6vw, 4rem);
}
nav {
  font-family: "Lato", Helvetica, sans-serif;
  text-align: center;
  background-color:#142FBC;
  padding-top: 10px;
  padding-bottom: 10px;
}
nav a {
  color: #EBCC6F;
  text-decoration: none;
  font-size: 2em;
  padding: 15px;
}
nav a:hover {
  color: #58DBCA;
}

 /*Main*/
main p{
  font-family: "Lato", Helvetica, sans-serif;
}
h2 {
  text-align: center;
  color: #142FBC;
  font-size: 3em;
}
p {
  color: #142FBC;
  font-size: 1.5em;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
/*Home*/
.trainers {
  display: block;
}
.trainer-pic {
  display: block;

}
.trainers img {
  max-width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  background-color: lightgray;
  border: solid 5px #EBCC6F;
  border-radius: 10%;
}
.pikachus img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/*Starters*/
.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
.buttons button img {
  max-width: 10em;
}
#grass {
  background-color: transparent;
  border: transparent;
  border-radius: 100%;
}

#fire {
  background-color: transparent;
  border: transparent;
  border-radius: 100%;
}
#water {
  background-color: transparent;
  border: transparent;
  border-radius: 100%;
}
#grass:hover {
  background-color: #009400;
}
#fire:hover {
  background-color: #FF2A0A;
}
#water:hover {
  background-color: #007ED5;
}
.pokeball{
  display: grid;
  grid-template-columns: 1fr 450px 1fr;
  grid-template-rows: 1fr .5fr 2fr;
  grid-gap: 15px
}
.pokeball img {
  background-color: darkgray;
  border-radius: 35%;
  grid-column: 2/3;
  grid-row: 1/2;
}
.pokeball h3 {
  font-size: 9em;
  text-align: center;
  grid-column: 2/3;
  grid-row: 2/3;
  padding: 0;
  margin: 0;
}
.pokeball ul {
  font-size: 3em;
  word-spacing: 10px;
  grid-column: 2/3;
  grid-row: 3/4;
}
#basic-pokeball {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: darkgray;
  border-radius: 50%;
}
 /*Footer*/
 footer {
  background-color: #142FBC;
  padding: 25px 50px;
  margin-top: 80px;
 }
.footer-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;                 
  align-items: center;         
  max-width: 1200px;           
  margin: 0 auto;               
  padding: 0 20px;

}
footer p{
  color: #EBCC6F;
  grid-column: 1/2;
  max-width: fit-content;
}
.footer-nav {
  grid-column: 2/3;
  word-spacing: 10px;
}
.footer-nav a{
  color: #EBCC6F;
  font-size: 1.5em;
  text-decoration: none;
}
.footer-nav a:hover {
  color: #58DBCA;
}
footer .social img {
  
    border-radius: 50%;
    grid-column: 3/4;
}


 @media screen and (min-width: 1000px) {
  /*Header*/
#top-header {
    justify-content: center;    /* Keeps everything centered */
    gap: 30px;
  }
  
  h1 {
    font-size: 3.2rem;
  }
  /*Home*/
.trainer-pic {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 25%;
  margin-right: 25%;
}
.trainer-pic img {
  box-sizing: border-box;
  width: 800px;
}
  /*Starters*/
  /*Footer*/

 }