.box {
    border: 2px solid #000;
    margin: 0 auto;
    width: 900px;
    padding-left: 40px;
    padding-right: 40px;
}
.container {
    padding-bottom: 50px;
}
h1, h2, p, li {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1 {
    text-align: center;
    font-size: 50px;
    padding-top: 70px;
}
h2 {
   text-align: center;
    color: #035f9c;

}
hr {
    text-align: center;
    max-width: 60%;
    color: darkgrey;

}
p {
    text-align: left;
    font-size: 25px;
    max-width: 740px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 20px;
}
.italic {
    font-style: italic;
    padding-top: 20px;
}
li {
    font-size: 25px;
    text-align: left;
    max-width: 740px;
    margin: auto;
    list-style-type: none;
    padding: 20px;
    padding-left: 80px;
}

img {
    padding-top: 30px;
    width: 25%;
    display: block;
    margin: 50px auto;
}
