* {
    box-sizing: border-box;
}

body {
    font-size: 20px;
    max-width: 1280px;
    margin: auto;
    padding: 1em;
}

img {
    max-width: 100%;
}

.main-nav {
    list-style-type: none;
    display: flex;
    gap: 1em;
    flex-direction: column; /*good idea for mobile*/
}

hr{
    margin-top: 50px;
}

.media-card {
    display: flex;
    flex-direction: column;
    gap: 1em;
}  

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
}     

/*every element that's direct child with .gallery, use (> *) */
.gallery >  * {
    flex: 1 1 460px; /*grow and shrink by one if possible*/
}

@media screen and (min-width: 550px) {
    .main-nav {
        flex-direction: row;
        justify-content: flex-end;
    }
    .media-card {
        flex-direction: row;
    }
    .media-card-image {
        flex: 0 1 250px;
    }
    .media-card-content {
        flex: 0 1 60ch; /*ch stands for charaters*/
    }
}