header, footer {
    padding: 1rem;
    text-align: center;
}
h1 {
    font-size: 45px;
}
.main-nav {
    list-style-type: none;
        display: grid;
        grid-template-columns: 100px 100px 100px;
        justify-content: right;
}
li a {
    color: darkred;
    text-decoration: none;
    font-size: 20px;
}
hr {
    border: none;
    height: 3px;
    background-color: goldenrod;
    margin: 1em 0;
}

p {
    text-align: right;
    padding-right: 50px;
    font-size: 20px;
}
h2 {
    color: darkred;
    padding-left: 50px;
    font-size: 30px;
}
img {
    display: block;
    margin: 0 auto;
}
#desc {
    font-size: 20px;
    text-align: left;
    padding-left: 50px;
}
#copyright {
    text-align: center;
}



@media (min-width: 700px) {
    #hidden {
        background-color: white;
    }
    .book {
        display: grid;
        grid-template-columns: 1fr 2fr;

    }
    p {
        grid-column: 1/2;
    }
    hr, img, #desc {
        grid-column: 2/3;
        border-left: 3px solid goldenrod;
    }

}