header, footer {
    padding: 1rem;
    text-align: center;
}
h1 {
    font-size: 45px;
}
.main-nav {
    list-style-type: none;
        display: grid;
        grid-template-columns: 100px 100px 100px;
        justify-content: right;
}
li a {
    color: darkred;
    text-decoration: none;
    font-size: 20px;
}
hr {
    border: none;
    height: 3px;
    background-color: goldenrod;
    margin: 1em 0;
}
#hidden {
    width: 80%;
}
p {
    text-align: right;
    padding-right: 50px;
    font-size: 20px;
}
h2 {
    color: darkred;
    padding-left: 50px;
    font-size: 30px;

}
img {
    display: block;
    margin: 0 auto;
}
#desc {
    font-size: 20px;
    text-align: left;
    padding-left: 50px;
}
#copyright {
    text-align: center;
    font-size: 25px;
}



@media (min-width: 700px) {
    #hidden {
        background-color: white;
    }

    .left p {
        grid-column: 1;
        grid-row: 2 / 5;           
        display: flex;
        flex-direction: column;
        gap: 1.2rem;               
        align-items: flex-end;             
    }
    h2, img, #desc {
        grid-column: 2/3;


    }

    h2 {
        grid-column: 2;
        grid-row: 1 / 2;          
        margin-bottom: 1;     
    }

    img {
        grid-column: 2;
        grid-row: 1 / 5;
        align-self: start;
        margin-top: 6rem;    
    }
    #desc {
        grid-column: 2;
        grid-row: 5 / 6;
    }
    /**/
    .book {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: repeat(6, auto);
        gap: 1.5rem 3rem;
        position: relative;         
    }

    .book::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 33%;                 
        width: 3px;
        background: goldenrod;
    }

    .left {
        border-right: none;       
        padding-right: 1.5rem;

    }


}